<a href="https://colab.research.google.com/github/osohyun0224/BigData-Final-Project/blob/master/MedicalData_Analyze.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#https://drive.google.com/file/d/1GIaHWMhNmtB6AzJL77DmtO_qY2yVTQtS/view?usp=drive_link
system("gdown --id 1GIaHWMhNmtB6AzJL77DmtO_qY2yVTQtS")
system("ls", TRUE)

[1] "healthcare_dataset.csv" "sample_data"

In [9]:
data <- read.csv("healthcare_dataset.csv")

In [10]:
str(data)

'data.frame':	10000 obs. of  15 variables:
 $ Name              : chr  "Tiffany Ramirez" "Ruben Burns" "Chad Byrd" "Antonio Frederick" ...
 $ Age               : int  81 35 61 49 51 41 82 55 33 39 ...
 $ Gender            : chr  "Female" "Male" "Male" "Male" ...
 $ Blood.Type        : chr  "O-" "O+" "B-" "B-" ...
 $ Medical.Condition : chr  "Diabetes" "Asthma" "Obesity" "Asthma" ...
 $ Date.of.Admission : chr  "2022-11-17" "2023-06-01" "2019-01-09" "2020-05-02" ...
 $ Doctor            : chr  "Patrick Parker" "Diane Jackson" "Paul Baker" "Brian Chandler" ...
 $ Hospital          : chr  "Wallace-Hamilton" "Burke, Griffin and Cooper" "Walton LLC" "Garcia Ltd" ...
 $ Insurance.Provider: chr  "Medicare" "UnitedHealthcare" "Medicare" "Medicare" ...
 $ Billing.Amount    : num  37491 47304 36875 23303 18086 ...
 $ Room.Number       : int  146 404 292 480 477 180 161 384 215 310 ...
 $ Admission.Type    : chr  "Elective" "Emergency" "Emergency" "Urgent" ...
 $ Discharge.Date    : chr  "2022-12-01" "2023-06-15" "2019-02-08" "2020-05-03" ...
 $ Medication        : chr  "Aspirin" "Lipitor" "Lipitor" "Penicillin" ...
 $ Test.Results      : chr  "Inconclusive" "Normal" "Normal" "Abnormal" ...

In [16]:
install.packages("tidyverse")
library(tidyverse)
library(data.table)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)


Attaching package: ‘data.table’


The following objects are masked from ‘package:lubridate’:

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year


The following objects are masked from ‘package:dplyr’:

    between, first, last


The following object is masked from ‘package:purrr’:

    transpose

In [17]:
library(repr)

In [18]:
df <- fread("healthcare_dataset.csv") %>% as_tibble()

In [19]:
summary(df)

     Name                Age           Gender           Blood Type
 Length:10000       Min.   :18.00   Length:10000       Length:10000
 Class :character   1st Qu.:35.00   Class :character   Class :character
 Mode  :character   Median :52.00   Mode  :character   Mode  :character
                    Mean   :51.45
                    3rd Qu.:68.00
                    Max.   :85.00
 Medical Condition  Date of Admission       Doctor            Hospital
 Length:10000       Min.   :2018-10-30   Length:10000       Length:10000
 Class :character   1st Qu.:2020-02-10   Class :character   Class :character
 Mode  :character   Median :2021-05-02   Mode  :character   Mode  :character
                    Mean   :2021-05-01
                    3rd Qu.:2022-07-23
                    Max.   :2023-10-30
 Insurance Provider Billing Amount   Room Number    Admission Type
 Length:10000       Min.   : 1000   Min.   :101.0   Length:10000
 Class :character   1st Qu.:13507   1st Qu.:199.0   Class :character
 Mode  :character   Median :25258   Median :299.0   Mode  :character
                    Mean   :25517   Mean   :300.1
                    3rd Qu.:37734   3rd Qu.:400.0
                    Max.   :49996   Max.   :500.0
 Discharge Date        Medication        Test Results
 Min.   :2018-11-01   Length:10000       Length:10000
 1st Qu.:2020-02-23   Class :character   Class :character
 Median :2021-05-18   Mode  :character   Mode  :character
 Mean   :2021-05-17
 3rd Qu.:2022-08-07
 Max.   :2023-11-27

In [21]:
install.packages("psych")
library("psych")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)


Attaching package: ‘psych’


The following objects are masked from ‘package:ggplot2’:

    %+%, alpha

In [22]:
describe(df)
describe(df) %>% round(.,2)

Warning message in FUN(newX[, i], ...):
“no non-missing arguments to min; returning Inf”
Warning message in FUN(newX[, i], ...):
“no non-missing arguments to min; returning Inf”
Warning message in FUN(newX[, i], ...):
“no non-missing arguments to max; returning -Inf”
Warning message in FUN(newX[, i], ...):
“no non-missing arguments to max; returning -Inf”

                    vars n     mean       sd           median   trimmed
Name*                1   10000  4693.6494 2.697154e+03  4684.50  4694.821125
Age                  2   10000    51.4522 1.958897e+01    52.00    51.489000
Gender*              3   10000     1.4925 4.999687e-01     1.00     1.490625
Blood Type*          4   10000     4.4993 2.286596e+00     4.00     4.499125
Medical Condition*   5   10000     3.4875 1.701803e+00     3.00     3.484375
Date of Admission    6   10000        NaN           NA       NA          NaN
Doctor*              7   10000  4713.6510 2.713557e+03  4703.50  4714.490750
Hospital*            8   10000  4350.3075 2.500044e+03  4342.50  4356.464875
Insurance Provider*  9   10000     2.9799 1.413045e+00     3.00     2.974875
Billing Amount      10   10000 25516.8068 1.406729e+04 25258.11 25511.212499
Room Number         11   10000   300.0820 1.158060e+02   299.00   299.857125
Admission Type*     12   10000     2.0149 8.143367e-01     2.00     2.018625
Discharge Date      13   10000        NaN           NA       NA          NaN
Medication*         14   10000     3.0208 1.418580e+00     3.00     3.026000
Test Results*       15   10000     1.9811 8.197622e-01     2.00     1.976375
                    mad        min      max     range    skew         kurtosis
Name*                3453.7167    1.000  9378.0  9377.00 -0.003609734 -1.192705
Age                    25.2042   18.000    85.0    67.00 -0.012144215 -1.205294
Gender*                 0.0000    1.000     2.0     1.00  0.029998875 -1.999300
Blood Type*             2.9652    1.000     8.0     7.00  0.004015200 -1.233060
Medical Condition*      1.4826    1.000     6.0     5.00  0.013486678 -1.265853
Date of Admission           NA      Inf    -Inf     -Inf           NA        NA
Doctor*              3479.6622    1.000  9416.0  9415.00 -0.003422827 -1.195984
Hospital*            3213.5355    1.000  8639.0  8638.00 -0.016235504 -1.197810
Insurance Provider*     1.4826    1.000     5.0     4.00  0.025553380 -1.294003
Billing Amount      18006.5940 1000.181 49995.9 48995.72  0.012717412 -1.182838
Room Number           149.7426  101.000   500.0   399.00  0.013366313 -1.213303
Admission Type*         1.4826    1.000     3.0     2.00 -0.027300505 -1.491689
Discharge Date              NA      Inf    -Inf     -Inf           NA        NA
Medication*             1.4826    1.000     5.0     4.00 -0.013370291 -1.304300
Test Results*           1.4826    1.000     3.0     2.00  0.034863520 -1.511259
                    se
Name*               2.697154e+01
Age                 1.958897e-01
Gender*             4.999687e-03
Blood Type*         2.286596e-02
Medical Condition*  1.701803e-02
Date of Admission             NA
Doctor*             2.713557e+01
Hospital*           2.500044e+01
Insurance Provider* 1.413045e-02
Billing Amount      1.406729e+02
Room Number         1.158060e+00
Admission Type*     8.143367e-03
Discharge Date                NA
Medication*         1.418580e-02
Test Results*       8.197622e-03

Warning message in FUN(newX[, i], ...):
“no non-missing arguments to min; returning Inf”
Warning message in FUN(newX[, i], ...):
“no non-missing arguments to min; returning Inf”
Warning message in FUN(newX[, i], ...):
“no non-missing arguments to max; returning -Inf”
Warning message in FUN(newX[, i], ...):
“no non-missing arguments to max; returning -Inf”

                    vars n     mean     sd       median   trimmed  mad
Name*                1   10000  4693.65  2697.15  4684.50  4694.82  3453.72
Age                  2   10000    51.45    19.59    52.00    51.49    25.20
Gender*              3   10000     1.49     0.50     1.00     1.49     0.00
Blood Type*          4   10000     4.50     2.29     4.00     4.50     2.97
Medical Condition*   5   10000     3.49     1.70     3.00     3.48     1.48
Date of Admission    6   10000      NaN       NA       NA      NaN       NA
Doctor*              7   10000  4713.65  2713.56  4703.50  4714.49  3479.66
Hospital*            8   10000  4350.31  2500.04  4342.50  4356.46  3213.54
Insurance Provider*  9   10000     2.98     1.41     3.00     2.97     1.48
Billing Amount      10   10000 25516.81 14067.29 25258.11 25511.21 18006.59
Room Number         11   10000   300.08   115.81   299.00   299.86   149.74
Admission Type*     12   10000     2.01     0.81     2.00     2.02     1.48
Discharge Date      13   10000      NaN       NA       NA      NaN       NA
Medication*         14   10000     3.02     1.42     3.00     3.03     1.48
Test Results*       15   10000     1.98     0.82     2.00     1.98     1.48
                    min     max     range    skew  kurtosis se
Name*                  1.00  9378.0  9377.00  0.00 -1.19     26.97
Age                   18.00    85.0    67.00 -0.01 -1.21      0.20
Gender*                1.00     2.0     1.00  0.03 -2.00      0.00
Blood Type*            1.00     8.0     7.00  0.00 -1.23      0.02
Medical Condition*     1.00     6.0     5.00  0.01 -1.27      0.02
Date of Admission       Inf    -Inf     -Inf    NA    NA        NA
Doctor*                1.00  9416.0  9415.00  0.00 -1.20     27.14
Hospital*              1.00  8639.0  8638.00 -0.02 -1.20     25.00
Insurance Provider*    1.00     5.0     4.00  0.03 -1.29      0.01
Billing Amount      1000.18 49995.9 48995.72  0.01 -1.18    140.67
Room Number          101.00   500.0   399.00  0.01 -1.21      1.16
Admission Type*        1.00     3.0     2.00 -0.03 -1.49      0.01
Discharge Date          Inf    -Inf     -Inf    NA    NA        NA
Medication*            1.00     5.0     4.00 -0.01 -1.30      0.01
Test Results*          1.00     3.0     2.00  0.03 -1.51      0.01